flask 
opencv-python 
numpy
gunicon 
flask_sqlalchemy
flask_login
scikit-learn
scikit-image
matplotlib
joblib
natsort
h5py 
tqdm
einops 
gdown 
addict 
future 
lmdb 
pyyaml 
requests 
scipy 
tb-nightly 
yapf 
lpips