<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Login and Registration to Image Restoration Service" />
  <meta name="keywords" content="Image Restoration of Blur and Low Light Image to Clean Image" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Image Restoration | Login & Registration</title>
  <link rel="stylesheet" href="../../static/css/style.css" />
  <script src="../custom-scripts.js" defer></script>
</head>
<body>
  <section class="wrapper">
    <div class="form signup">
      <header>Signup</header>
      <form method="POST" action="{{ url_for('auth.signup') }}">
        <input type="text" name="full_name" placeholder="Full name" required />
        <input type="text" name="email" placeholder="Email address" required />
        <input type="password" name="password" placeholder="Password" required />
        <!-- <div class="checkbox">
          <input type="checkbox" id="signupCheck" required />
          <label for="signupCheck">I accept all terms & conditions</label>
        </div> -->
        <input type="submit" value="signup" />
      </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    <div class="form login">
      <header>Login</header>
      <form method="POST" action="{{ url_for('auth.login') }}">
        <input type="text" name="email" placeholder="Email address" required />
        <input type="password" name="password" placeholder="Password" required />
        <!-- <a href="#">Forgot password?</a> -->
        <input type="submit" value="login" />
      </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    <script>
      const wrapper = document.querySelector('.wrapper'),
            signupHeader = document.querySelector('.signup header'),
            loginHeader = document.querySelector('.login header')

      loginHeader.addEventListener('click', () => {
        wrapper.classList.add('active')
      })
      signupHeader.addEventListener('click', () => {
        wrapper.classList.remove('active')
      })
    </script>
  </section>
</body>
</html>
