<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homepage</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-5.5/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-infinite-loop.css') }}">
    <style>
        /* Add your CSS styles here */
        .navbar {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .navbar-nav .nav-link {
            color: #ffffff;
            padding: 5px 5px;
            margin: 0 5px;
        }

        .navbar-toggler-icon {
            color: #ffffff;
        }

        .navbar-toggler {
            padding: 10px 15px;
        }

        .navbar {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#infinite" class="navbar-brand">apS Enhancer</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                <form action="/auth" method="POST">
                    <input type="hidden" name="action" value="signup">
                    <button type="submit" class="nav-link tm-nav-link" style="border: none; background: none; cursor: pointer;">Low Light Enhancer</button>
                </form>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#whatwedo">What apS Enhancer does</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#testimonials">Team Members</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#gallery">Images</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Contact</a>
              </li>                    
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">apS Enhancer</h2>
            <p class="tm-hero-subtitle">
              a Low-Light image enhancer.
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="whatwedo" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">What apS Enhancer does</h2>
                        <p class="mb-4 tm-intro-text">
                          apS Enhancer is a low light image enhancer that takes low light images from low end devices and enhances the images. </p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Low-Light Enhancement</h2>
                        <p class="mb-4 tm-intro-text">
                          Takes low light images from low end devices, specially the night time, and enhances the images to be more visible and bright.</p>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Image Restoration</h2>
                        <p class="mb-4 tm-intro-text">
                          Takes low quality images and restores them to contain more details in the image.</p>
                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Denoising</h2>
                        <p class="mb-4 tm-intro-text">
                      </p>
                      Removes unwanted noise from images, improving clarity and sharpness. Ideal for reducing graininess in photos taken in low light or high ISO settings, resulting in cleaner and more polished visuals.
                        </div>
                    </div>
                </div>
                
    </section>
    
    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Team Members</h2>
            <p class="mx-auto tm-section-desc text-center">
                
              </p>

            <div class=" mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <div class="text-center mx-auto tm-gallery-item">
                  <figure class="effect-ming tm-gallery-item-overlay">
                   
                  </figure>
              
                  <p class="tm-user">
                <div class="card-deck">
                  <div class="card bg-primary">
                    <img class="card-img-top" src="static/img/Amzad2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Amzad Hossain Rafi </h5>
                      <p class="card-text">Machine Learning Engineer</p>
                    </div>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                  <div class="card bg-primary">
                    <img class="card-img-top" src="static/img/Niloy.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">AK Niloy</h5>
                      <p class="card-text ">Machine Learning Engineer</p>
                    </div>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                  <div class="card bg-primary">
                    <img class="card-img-top" src="static/img/Ananno.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Ananno Asif</h5>
                      <p class="card-text ">Machine Learning Engineer</p>
                    </div>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                  <div class="card bg-primary">
                    <img class="card-img-top" src="static/img/Sanjib.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sanjib Paul</h5>
                      <p class="card-text">Software Engineer</p>
                    </div>
                    <div class="card-footer">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>
    
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Low Light Image Restoration Example </h2>
              <p class="mx-auto tm-section-desc">
                
              </p>
          </div>            
        </div>
        

        <div class="row">
            <div class="cal-3 p-1">
              <img src="static/img/Dark-Images_0_c6796f5ba1ee2b245386.png" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px" />
            </div>

            <div class="cal-3 p-1">
              <img src="static/img/prediction (4).jpg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px"/>
            </div>

            <div class="cal-3 p-1">
              <img src="static/img/Low-light-1.jpeg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px" />
            </div>

            <div class="cal-3 p-1">
              <img src="static/img/Enhanced-Image-1.jpeg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px"/>
            </div>

        </div>


      <div class="row">


      <div class="cal-3 p-1">
              <img src="static/img/Low-light-2.jpeg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px" />
      </div>

      <div class="cal-3 p-1">
              <img src="static/img/Enhanced-Image-2.jpeg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px"/>
      </div>
            <div cal-3 p-1>
            <img src="static/img/Low-light-3.png" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px" />
      </div>

      <div class="cal-3 p-1 ">
            <img src="static/img/Enhanced-Image-3.jpg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px"/>
      </div>
          
          


</div>

        <div class="row">

          <div class="cal-3 p-1">
            <img src="static/img/5.webp" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px" />
    </div>

    <div class="cal-3 p-1">
            <img src="static/img/5pred.jpg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px"/>
    </div>
          <div cal-3 p-1>
          <img src="static/img/Low-light-4.png" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px" />
    </div>

    <div class="cal-3 p-1 ">
          <img src="static/img/Enhanced-Image-4.jpg" alt="Image" class="img-fluid tm-gallery-img" height="300px" width="300px"/>
    </div>


          
        </div>
      
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
    
      <div class="container tm-container-contact">
        
        <div class="row">
            
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact Us</h2>
                <p class="mb-5">
                                </p><br>
            </div>
            
                
                <div class="contact-item">
                  <a rel="nofollow" href="mailto:rafi@praniSheba.com.bd" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">rafi@praniSheba.com.bd</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="mailto:niloy@praniSheba.com.bd" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">niloy@praniSheba.com.bd</span>
                  </a>              
                </div>

                <div class="contact-item">
                  <a rel="nofollow" href="mailto:sanjibpaul171@gmail.com" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">sanjibpaul171@gmail.com</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="cell: +880 172 811 8376" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">+880 172 811 8376</span>
                  </a>              
                </div>

                <div class="contact-item">
                  <a rel="nofollow" href="cell: +880 131 780 6436" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">+880 131 780 6436</span>
                  </a>              
                </div>

                <div class="contact-item">
                  <a rel="nofollow" href="cell: +880 183 598 285" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">+880 183 598 285</span>
                  </a>              
                </div>
                
            
            </div>

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; Team apS 
        </footer>

    </section>
    
    <script src="js/jquery-1.9.1.min.js"></script>     
    <script src="slick/slick.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>     
    <script src="js/bootstrap.min.js"></script> 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#testimonials"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>